@page "/orders"
@using CarShowroom.Client.Services.Interfaces
@using CarShowroom.Client.DTOs
@inject IOrderService OrderService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin,Manager")]

<h3>Orders</h3>
@if (orders == null)
{
    <span><em>Loading...</em></span>
}
else
{
    <div>
        <button class="btn btn-light" @onclick="@(()=>NavigationManager.NavigateTo("/createorder"))">Create order</button>
    </div>
    <div>
        <input @oninput="@((args)=>filter=args.Value.ToString().ToLower())" placeholder="Search..." />
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Car</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in filteredOrders)
            {
                <tr @onclick="@(()=>NavigationManager.NavigateTo($"/order/{order.Id}"))">
                    <td>@order.Id</td>
                    <td>
                        <button class="btn btn-link" @onclick="@(()=>NavigationManager.NavigateTo($"/car/{order.CarId}"))">
                            @order.Car.Make @order.Car.Model @order.Car.Year
                        </button>
                    </td>
                    <td>@order.BeginningOfWork.ToString("dd/MM/yyyy")</td>
                    <td>@order.EndingOfWork.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    IEnumerable<OrderDTO> orders;
    string filter = String.Empty;
    public IEnumerable<OrderDTO> filteredOrders => orders.Where(o => o.Id.ToString().ToLower().Contains(filter));

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }
}
